.carousel-container{
    /*width: 520px;
    height: 280px;*/
    /* background: #ff0000;*/
    position:relative;
}
.carousel-content{
    /* width: 520px;
     height: 280px;*/
    /* background: #ff0000;*/
}
.carousel-arrows-prev{
    float: left;
    position: absolute;
    bottom:10px;
    left: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    cursor:pointer;
}
.arrows-center-left.carousel-arrows-prev{
    position: absolute;
    top:50%;
    margin-top: -10px;
    left: 0px;
}

.carousel-arrows-next{
    float: left;
    position: absolute;
    bottom:10px;
    width: 20px;
    left: 70px;
    height: 20px;
    line-height: 20px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    cursor:pointer;
}
.arrows-center-right.carousel-arrows-next{
    position: absolute;
    top:50%;
    margin-top: -10px;
    right: 0px;
    left: auto;

}
.carousel-tab{
    position: absolute;
    bottom: 10px;
    right: 30px;
}
.carousel-tab li{
    float: left;
    /*position: absolute;*/
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #000000;
    color: #ffffff;
    margin-left: 10px;
    cursor:pointer;
}
.carousel-imgs img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.carousel-imgs img.selected{
    display: block;
}
li.selected{
    background: orange;
}
.carousel-tab li.li-circle{
    border-radius: 50%;
}